@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-di6dNx5Ilffr_font-family: "Inter", sans-serif;
  --mixin-di6dNx5Ilffr_font-size: 16px;
  --mixin-di6dNx5Ilffr_font-weight: 400;
  --mixin-di6dNx5Ilffr_font-style: normal;
  --mixin-di6dNx5Ilffr_color: #535353;
  --mixin-di6dNx5Ilffr_text-align: left;
  --mixin-di6dNx5Ilffr_text-transform: none;
  --mixin-di6dNx5Ilffr_line-height: 1.5;
  --mixin-di6dNx5Ilffr_letter-spacing: normal;
  --mixin-di6dNx5Ilffr_white-space: pre-wrap;
  --mixin-di6dNx5Ilffr_user-select: text;
  --mixin-di6dNx5Ilffr_text-decoration-line: none;
  --mixin-di6dNx5Ilffr_text-overflow: clip;
  --mixin-Sn-l5mX3ZzmG_color: #000000;
  --mixin-Sn-l5mX3ZzmG_font-weight: 700;
  --mixin-Sn-l5mX3ZzmG_font-size: 64px;
  --mixin-Sn-l5mX3ZzmG_line-height: 1;
  --mixin-Sn-l5mX3ZzmG_letter-spacing: -1px;
  --mixin-Sn-l5mX3ZzmG_white-space: pre-wrap;
  --mixin-2jo3UX6mMwyR_color: #000000;
  --mixin-2jo3UX6mMwyR_font-size: 48px;
  --mixin-2jo3UX6mMwyR_font-weight: 700;
  --mixin-2jo3UX6mMwyR_letter-spacing: -0.5px;
  --mixin-2jo3UX6mMwyR_line-height: 1.1;
  --mixin-2jo3UX6mMwyR_white-space: pre-wrap;
  --mixin-GcAjONxi-R61_color: #0070f3;
  --mixin-GcAjONxi-R61_white-space: pre-wrap;
  --mixin-fI5iJ76WOmO3_color: #000000;
  --mixin-fI5iJ76WOmO3_font-size: 32px;
  --mixin-fI5iJ76WOmO3_font-weight: 600;
  --mixin-fI5iJ76WOmO3_line-height: 1.2;
  --mixin-fI5iJ76WOmO3_white-space: pre-wrap;
  --mixin-Ulk43Op96naG_color: #000000;
  --mixin-Ulk43Op96naG_font-size: 24px;
  --mixin-Ulk43Op96naG_font-weight: 600;
  --mixin-Ulk43Op96naG_line-height: 1.3;
  --mixin-Ulk43Op96naG_white-space: pre-wrap;
  --mixin-olxg7mlE0mfc_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-olxg7mlE0mfc_border-bottom-color: #dddddd;
  --mixin-olxg7mlE0mfc_border-bottom-style: solid;
  --mixin-olxg7mlE0mfc_border-bottom-width: 1px;
  --mixin-olxg7mlE0mfc_border-left-color: #dddddd;
  --mixin-olxg7mlE0mfc_border-left-style: solid;
  --mixin-olxg7mlE0mfc_border-left-width: 1px;
  --mixin-olxg7mlE0mfc_border-right-color: #dddddd;
  --mixin-olxg7mlE0mfc_border-right-style: solid;
  --mixin-olxg7mlE0mfc_border-right-width: 1px;
  --mixin-olxg7mlE0mfc_border-top-color: #dddddd;
  --mixin-olxg7mlE0mfc_border-top-style: solid;
  --mixin-olxg7mlE0mfc_border-top-width: 1px;
  --mixin-olxg7mlE0mfc_border-bottom-left-radius: 3px;
  --mixin-olxg7mlE0mfc_border-bottom-right-radius: 3px;
  --mixin-olxg7mlE0mfc_border-top-left-radius: 3px;
  --mixin-olxg7mlE0mfc_border-top-right-radius: 3px;
  --mixin-olxg7mlE0mfc_font-family: "Inconsolata";
  --mixin-olxg7mlE0mfc_padding-bottom: 1px;
  --mixin-olxg7mlE0mfc_padding-left: 4px;
  --mixin-olxg7mlE0mfc_padding-right: 4px;
  --mixin-olxg7mlE0mfc_padding-top: 1px;
  --mixin-olxg7mlE0mfc_white-space: pre-wrap;
  --mixin-M1aPJbXYXkZm_border-left-color: #dddddd;
  --mixin-M1aPJbXYXkZm_border-left-style: solid;
  --mixin-M1aPJbXYXkZm_border-left-width: 3px;
  --mixin-M1aPJbXYXkZm_color: #888888;
  --mixin-M1aPJbXYXkZm_padding-left: 10px;
  --mixin-M1aPJbXYXkZm_white-space: pre-wrap;
  --mixin-INLQraFF1sP2_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-INLQraFF1sP2_border-bottom-color: #dddddd;
  --mixin-INLQraFF1sP2_border-bottom-style: solid;
  --mixin-INLQraFF1sP2_border-bottom-width: 1px;
  --mixin-INLQraFF1sP2_border-left-color: #dddddd;
  --mixin-INLQraFF1sP2_border-left-style: solid;
  --mixin-INLQraFF1sP2_border-left-width: 1px;
  --mixin-INLQraFF1sP2_border-right-color: #dddddd;
  --mixin-INLQraFF1sP2_border-right-style: solid;
  --mixin-INLQraFF1sP2_border-right-width: 1px;
  --mixin-INLQraFF1sP2_border-top-color: #dddddd;
  --mixin-INLQraFF1sP2_border-top-style: solid;
  --mixin-INLQraFF1sP2_border-top-width: 1px;
  --mixin-INLQraFF1sP2_border-bottom-left-radius: 3px;
  --mixin-INLQraFF1sP2_border-bottom-right-radius: 3px;
  --mixin-INLQraFF1sP2_border-top-left-radius: 3px;
  --mixin-INLQraFF1sP2_border-top-right-radius: 3px;
  --mixin-INLQraFF1sP2_font-family: "Inconsolata";
  --mixin-INLQraFF1sP2_padding-bottom: 3px;
  --mixin-INLQraFF1sP2_padding-left: 6px;
  --mixin-INLQraFF1sP2_padding-right: 6px;
  --mixin-INLQraFF1sP2_padding-top: 3px;
  --mixin-INLQraFF1sP2_white-space: pre-wrap;
  --mixin-SclsQYB1t-AP_display: flex;
  --mixin-SclsQYB1t-AP_flex-direction: column;
  --mixin-SclsQYB1t-AP_align-items: stretch;
  --mixin-SclsQYB1t-AP_justify-content: flex-start;
  --mixin-SclsQYB1t-AP_list-style-position: outside;
  --mixin-SclsQYB1t-AP_padding-left: 40px;
  --mixin-SclsQYB1t-AP_position: relative;
  --mixin-SclsQYB1t-AP_list-style-type: disc;
  --mixin-SclsQYB1t-AP_white-space: pre-wrap;
  --mixin-oGM3_Lws59ZM_display: flex;
  --mixin-oGM3_Lws59ZM_flex-direction: column;
  --mixin-oGM3_Lws59ZM_align-items: stretch;
  --mixin-oGM3_Lws59ZM_justify-content: flex-start;
  --mixin-oGM3_Lws59ZM_list-style-position: outside;
  --mixin-oGM3_Lws59ZM_padding-left: 40px;
  --mixin-oGM3_Lws59ZM_position: relative;
  --mixin-oGM3_Lws59ZM_list-style-type: decimal;
  --mixin-oGM3_Lws59ZM_white-space: pre-wrap;
  --mixin-18rjmXDucpwI_color: #000000;
  --mixin-18rjmXDucpwI_font-size: 20px;
  --mixin-18rjmXDucpwI_font-weight: 600;
  --mixin-18rjmXDucpwI_line-height: 1.5;
  --mixin-18rjmXDucpwI_white-space: pre-wrap;
  --mixin-c0DH1T_tLVWa_color: #000000;
  --mixin-c0DH1T_tLVWa_font-size: 16px;
  --mixin-c0DH1T_tLVWa_font-weight: 600;
  --mixin-c0DH1T_tLVWa_line-height: 1.5;
  --mixin-c0DH1T_tLVWa_white-space: pre-wrap;
  --mixin-6EbTHniB1PL__color: #3291ff;
  --mixin-6EbTHniB1PL__white-space: pre-wrap;
  --mixin-0ELyrKNs0MsA_white-space: pre-wrap;
  --mixin-CF9NYbgTaC2G_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-di6dNx5Ilffr_font-family);
  font-size: var(--mixin-di6dNx5Ilffr_font-size);
  font-weight: var(--mixin-di6dNx5Ilffr_font-weight);
  font-style: var(--mixin-di6dNx5Ilffr_font-style);
  color: var(--mixin-di6dNx5Ilffr_color);
  text-align: var(--mixin-di6dNx5Ilffr_text-align);
  text-transform: var(--mixin-di6dNx5Ilffr_text-transform);
  line-height: var(--mixin-di6dNx5Ilffr_line-height);
  letter-spacing: var(--mixin-di6dNx5Ilffr_letter-spacing);
  white-space: var(--mixin-di6dNx5Ilffr_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-Sn-l5mX3ZzmG_color);
  font-weight: var(--mixin-Sn-l5mX3ZzmG_font-weight);
  font-size: var(--mixin-Sn-l5mX3ZzmG_font-size);
  line-height: var(--mixin-Sn-l5mX3ZzmG_line-height);
  letter-spacing: var(--mixin-Sn-l5mX3ZzmG_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-2jo3UX6mMwyR_color);
  font-size: var(--mixin-2jo3UX6mMwyR_font-size);
  font-weight: var(--mixin-2jo3UX6mMwyR_font-weight);
  letter-spacing: var(--mixin-2jo3UX6mMwyR_letter-spacing);
  line-height: var(--mixin-2jo3UX6mMwyR_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-GcAjONxi-R61_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-fI5iJ76WOmO3_color);
  font-size: var(--mixin-fI5iJ76WOmO3_font-size);
  font-weight: var(--mixin-fI5iJ76WOmO3_font-weight);
  line-height: var(--mixin-fI5iJ76WOmO3_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-Ulk43Op96naG_color);
  font-size: var(--mixin-Ulk43Op96naG_font-size);
  font-weight: var(--mixin-Ulk43Op96naG_font-weight);
  line-height: var(--mixin-Ulk43Op96naG_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-olxg7mlE0mfc_font-family);
  border-radius: var(--mixin-olxg7mlE0mfc_border-top-left-radius)
    var(--mixin-olxg7mlE0mfc_border-top-right-radius)
    var(--mixin-olxg7mlE0mfc_border-bottom-right-radius)
    var(--mixin-olxg7mlE0mfc_border-bottom-left-radius);
  padding: var(--mixin-olxg7mlE0mfc_padding-top)
    var(--mixin-olxg7mlE0mfc_padding-right)
    var(--mixin-olxg7mlE0mfc_padding-bottom)
    var(--mixin-olxg7mlE0mfc_padding-left);
  border-top: var(--mixin-olxg7mlE0mfc_border-top-width)
    var(--mixin-olxg7mlE0mfc_border-top-style)
    var(--mixin-olxg7mlE0mfc_border-top-color);
  border-right: var(--mixin-olxg7mlE0mfc_border-right-width)
    var(--mixin-olxg7mlE0mfc_border-right-style)
    var(--mixin-olxg7mlE0mfc_border-right-color);
  border-bottom: var(--mixin-olxg7mlE0mfc_border-bottom-width)
    var(--mixin-olxg7mlE0mfc_border-bottom-style)
    var(--mixin-olxg7mlE0mfc_border-bottom-color);
  border-left: var(--mixin-olxg7mlE0mfc_border-left-width)
    var(--mixin-olxg7mlE0mfc_border-left-style)
    var(--mixin-olxg7mlE0mfc_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-M1aPJbXYXkZm_color);
  padding-left: var(--mixin-M1aPJbXYXkZm_padding-left);
  border-left: var(--mixin-M1aPJbXYXkZm_border-left-width)
    var(--mixin-M1aPJbXYXkZm_border-left-style)
    var(--mixin-M1aPJbXYXkZm_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-INLQraFF1sP2_font-family);
  border-radius: var(--mixin-INLQraFF1sP2_border-top-left-radius)
    var(--mixin-INLQraFF1sP2_border-top-right-radius)
    var(--mixin-INLQraFF1sP2_border-bottom-right-radius)
    var(--mixin-INLQraFF1sP2_border-bottom-left-radius);
  padding: var(--mixin-INLQraFF1sP2_padding-top)
    var(--mixin-INLQraFF1sP2_padding-right)
    var(--mixin-INLQraFF1sP2_padding-bottom)
    var(--mixin-INLQraFF1sP2_padding-left);
  border-top: var(--mixin-INLQraFF1sP2_border-top-width)
    var(--mixin-INLQraFF1sP2_border-top-style)
    var(--mixin-INLQraFF1sP2_border-top-color);
  border-right: var(--mixin-INLQraFF1sP2_border-right-width)
    var(--mixin-INLQraFF1sP2_border-right-style)
    var(--mixin-INLQraFF1sP2_border-right-color);
  border-bottom: var(--mixin-INLQraFF1sP2_border-bottom-width)
    var(--mixin-INLQraFF1sP2_border-bottom-style)
    var(--mixin-INLQraFF1sP2_border-bottom-color);
  border-left: var(--mixin-INLQraFF1sP2_border-left-width)
    var(--mixin-INLQraFF1sP2_border-left-style)
    var(--mixin-INLQraFF1sP2_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-SclsQYB1t-AP_display);
  flex-direction: var(--mixin-SclsQYB1t-AP_flex-direction);
  align-items: var(--mixin-SclsQYB1t-AP_align-items);
  justify-content: var(--mixin-SclsQYB1t-AP_justify-content);
  list-style-position: var(--mixin-SclsQYB1t-AP_list-style-position);
  padding-left: var(--mixin-SclsQYB1t-AP_padding-left);
  position: var(--mixin-SclsQYB1t-AP_position);
  list-style-type: var(--mixin-SclsQYB1t-AP_list-style-type);
  column-gap: var(--mixin-SclsQYB1t-AP_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-oGM3_Lws59ZM_display);
  flex-direction: var(--mixin-oGM3_Lws59ZM_flex-direction);
  align-items: var(--mixin-oGM3_Lws59ZM_align-items);
  justify-content: var(--mixin-oGM3_Lws59ZM_justify-content);
  list-style-position: var(--mixin-oGM3_Lws59ZM_list-style-position);
  padding-left: var(--mixin-oGM3_Lws59ZM_padding-left);
  position: var(--mixin-oGM3_Lws59ZM_position);
  list-style-type: var(--mixin-oGM3_Lws59ZM_list-style-type);
  column-gap: var(--mixin-oGM3_Lws59ZM_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-18rjmXDucpwI_color);
  font-size: var(--mixin-18rjmXDucpwI_font-size);
  font-weight: var(--mixin-18rjmXDucpwI_font-weight);
  line-height: var(--mixin-18rjmXDucpwI_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-c0DH1T_tLVWa_color);
  font-size: var(--mixin-c0DH1T_tLVWa_font-size);
  font-weight: var(--mixin-c0DH1T_tLVWa_font-weight);
  line-height: var(--mixin-c0DH1T_tLVWa_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-6EbTHniB1PL__color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
